<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iVoteBallot | Alabama DMV </title>

	<link rel="stylesheet" type="text/css" href="../styles/alabamaDMV_Commission_01.css" />

	<script defer src="../scripts_Files/alabamaDMV_Commission_01_Script.js"></script>	

</head>

	<body>
		<header>
			<%- include('../common/iVoteBallot_EmployeesHeader') %>
		</header>	
		
		<% if (messages.success) { %>
			<div class="alert alert-success">
			  <% messages.success.forEach(function(message) { %>
				<%= message %>
			  <% }); %>
			</div>
		  <% } %>
		  
		  <% if (messages.error) { %>
			<div class="alert alert-danger">
			  <% messages.error.forEach(function(message) { %>
				<%= message %>
			  <% }); %>
			</div>
		  <% } %>

		<div id="flex_Container">
			<div id="flex_Container_Row">
				<div id="flex_Container_Column">
					<div id="first_Column">

						<button class="dmv_CommissionButton_01" onclick="document.getElementById('popUpDMV_CommissionMenu').style.display='block'" style="width:auto;">DMV Commission - Voters' Details Information | Alabama</button>
						
						<div id="popUpDMV_CommissionMenu" class="dmvCommission_Form_01">							
						
							<form 
								class="form_AlabamaDMV_Commission animate"
								name="alabamaDMV_CommissionForm" 
								onsubmit="return validateAlabamaDMV_CommissionForm()" 	
								action="/alabamaDMV_Commission_01" 	
								method="POST">			  

								<div class="imageContainer">
									
									<a href="http://localhost:8080/iVoteBallot"><img class="header_Image_01" src="../images/free_Canva_Created_Images/iVoteBallot Canva - Logo Dated 05-05-23 copy.png" /></a>

									<hr class="hr_Grey_line_01">
									<hr class="hr_Red_line_01">
									<p id="titleDMVCommission_01">Election Assure Experts</p>
									<hr class="hr_Red_line_01">
									<hr class="hr_Grey_line_01">

									<p id="titleDMVCommission_02"> Add Voter Data Information | Alabama</p>
									<span class="close" onclick="document.getElementById('popUpDMV_CommissionMenu').style.display='none'" title="Close Sign Up Form">&times;</span>
								</div>

								<div class="dmvCommission_Container_01">  

									<label>Upload Voter Photograph |</label>
									<br>
        							<input id="photo" type="file"  name="DMVPhoto" accept="image/*" capture="camera" >
									<span id="userDMVPhotoErrorMessage"></span>
									<br>

									<label>First Name |</label>                                           
									<input id="firstName" type="text" name="DMVFirstName" maxlength="75"> 								                          
									<span id="userDMVFirstNameErrorMessage"></span>
									<br>

									<label>Middle Name |</label>                            
									<input id="middleName" type="text" name="DMVMiddleName" maxlength="75">                            
									<span id="userDMVMiddleNameErrorMessage"></span>
									<br>
								
									<label>Last Name |</label>                            
									<input id="lastName" type="text" name="DMVLastName" maxlength="75">                           
									<span id="userDMVLastNameErrorMessage"></span>
									<br>

									<select id="suffix" name="DMVSuffix">
										<option id="selectBackground" value="" disable selected hidden>Suffix (optional)</option>
											<option value = JR>JR</option>
											<option value = SR>SR</option>
											<option value = I>I</option>
											<option value = II>II</option>
											<option value = III>III</option>
											<option value = IV>IV</option>
											<option value = V>V</option>
									</select>																
									<span id = "userDMVSuffixErrorMessage"></span>
									<br>

									<label>Date of Birth</label>
									<input id="dateOfBirth" type="date" name="DMVDateOfBirth" min="1900-01-01" max="2005-11-30" maxlength="75">
									<span id="userDMVDateOfBirthErrorMessage"></span>
									<br>

									<select id="birthSex" name="DMVBirthSex">
										<option id="selectBackground" value="" disable selected hidden>Birth Sex</option>
											<option value = Female>Female</option>
											<option value = Male>Male</option>											
									</select>																
									<span id = "userDMVBirthSexErrorMessage"></span>
									<br>

									<select id="genderIdentity" name="DMVGenderIdentity">
										<option id="selectBackground" value="" disable selected hidden>Gender Identity</option>
											<option value = Female>Female</option>
											<option value = Male>Male</option>																					
									</select>																
									<span id = "userDMVGenderIdentityErrorMessage"></span>
									<br>

									<select id="race" name="DMVRace">
										<option id="selectBackground" value="" disable selected hidden>Race</option>
											<option value = White>White Alone | not Hispanic or Latino</option>
											<option value = Hispanic|Latino>Hispanic or Latino | of any race</option>
											<option value = Black|AfricanAmerican>Black or African American Alone | not Hispanic or Latino</option>
											<option value = MiddleEastern|NorthAfrican>Middle Eastern and North African (Jamaican, Haitian, Nigerian, Ethiopian & etc) | not Hispanic or Latino</option>
											<option value = MiddleEastern|NorthAfrican>South African (Ghanaian, South African, Barbadian, Kenyan, Liberian, Bahamian and etc) | not Hispanic or Latino</option>
											<option value = Asian>Asian Alone | not Hispanic or Latino</option>
											<option value = Two|MoreRaces>Two or More Races Alone | not Hispanic or Latino</option>
											<option value = AmericanIndian|AlaskaNative>American Indian or Alaska Native Alone | not Hispanic or Latino</option>
											<option value = SomeOtherRace>Some Other Race Alone | not Hispanic or Latino</option>
											<option value = NativeHawaiian|PacificIslander>Native Hawaiian or Pacific Islander | not Hispanic or Latino</option>	
											<option value = RaceUnknown>Race Unknown</option>																					
									</select>																
									<span id = "userDMVRaceErrorMessage"></span>
									<br>

									<label>Last Grade School Name Attended |</label>                            
									<input id="gradeSchool" type="text" name="DMVGradeSchool" maxlength="75">                           
									<span id="userDMVGradeSchoolErrorMessage"></span>
									<br>

									<select id="gradeSchoolSelect" name="DMVGradeSchoolSelection">
										<option id="selectBackground" value="" disable selected hidden>Grade School Diploma?</option>
											<option value = Yes>Yes</option>
											<option value = No>No</option>											
									</select>
									<span id = "userDMVGradeSchoolSelectionErrorMessage"></span>
									<br>	

									<select id="gradeSchoolYearSelect" name="DMVGradeSchoolYearSelection">
										<option id="selectBackground" value="" disable selected hidden>Year Graduated from Elementary School:</option>
										<option value = No_Graduate>No Graduate</option>
									</select>
									<span id = "userDMVGradeSchoolYearSelectionErrorMessage"></span>
									<br>	

									<label>Last High School Name Attended |</label>                            
									<input id="highSchool" type="text" name="DMVHighSchool" maxlength="75">                           
									<span id="userDMVHighSchoolErrorMessage"></span>
									<br>

									<select id="highSchoolSelect" name="DMVHighSchoolSelection">
										<option id="selectBackground" value="" disable selected hidden>High School Diploma?</option>
											<option value = Yes>Yes</option>
											<option value = No>No</option>											
									</select>
									<span id = "userDMVHighSchoolSelectionErrorMessage"></span>
									<br>	

									<select id="highSchoolYearSelect" name="DMVHighSchoolYearSelection">
										<option id="selectBackground" value="" disable selected hidden>Year Graduated from High School:</option>
										<option value = No_Graduate>No Graduate</option>
									</select>
									<span id = "userDMVHighSchoolYearSelectionErrorMessage"></span>
									<br>

									<label>Last College or University Name Attended |</label>                            
									<input id="college" type="text" name="DMVCollege" maxlength="75">                           
									<span id="userDMVCollegeErrorMessage"></span>
									<br>

									<select id="degreeSelect" name="DMVDegreeSelection" size="1">
										<option value="" selected="selected">Select High Education Degree Type</option>
									</select>							
									<span id="userDMVDegreeSelectionErrorMessage"></span>
									<br>  

									<select id="categorySelect" name="DMVCategorySelection" size="1">
										<option value="" selected="selected">Select Degree Category</option>
									</select>							
									<span id="userDMVCategorySelectionErrorMessage"></span>
									<br>  

									<select id="subjectSelect" name="DMVSubjectSelection" size="1">
										<option value="" selected="selected">Select Degree Subject</option>
									</select>							
									<span id="userDMVSubjectSelectionErrorMessage"></span>
									<br>  

									<select id="collegeYearSelect" name="DMVCollegeYearSelection">
										<option id="selectBackground" value="" disable selected hidden>Year Graduated from College | University | Trade School | Certifcate:</option>
										<option value = No_Graduate>No Graduate</option>
									</select>
									<span id = "userDMVCollegeYearSelectionErrorMessage"></span>
									<br>

									<label>Social Security Number | Enter user's ssn in the format of xxx-xx-xxxx.</label>                                           
									<input id="ssn" type="text" name="DMVSSN" maxlength="75"> 								                          
									<span id="userDMVSSNErrorMessage"></span>
									<br>

									<label>Email Address |</label> 									
									<input id="email" type="text" name="DMVEmail" maxlength="75">									
									<span id="userDMVEmailErrorMessage"></span>
									<br>

									<label>Confirm Email Address |</label>									
									<input id="confirmEmail" type="text" name="DMVConfirmEmail" maxlength="75">									
									<span id="userDMVConfirmEmailErrorMessage"></span>
									<br>

									<label>Phone Number | Enter user's phone number in the format of xxx-xxx-xxxx.</label>							
									<input id="phoneNumber" type="text" name="DMVPhoneNumber" maxlength="15">								
									<span id="userDMVPhoneNumberErrorMessage"></span>
									<br>
								
									<label>Address | Please enter user complete address, as it appears onto the user's state governmental issued ID card.</label>                                    
                                    <input id="address" type="text" name="DMVAddress" maxlength="250">                                  
                                    <span id="userDMVAddressErrorMessage"></span>
                                    <br> 
									
									<select id="unitType" name="DMVUnitType">
										<option id="selectBackground" value="" disable selected hidden>Address Unit Type</option>
											<option value = Apartment>Apartment</option>
											<option value = Building>Building</option>
											<option value = Basement>Basement</option>
											<option value = Floor>Floor</option>
											<option value = Front>Front</option>
											<option value = Hanger>Hanger</option>
											<option value = House>House</option>
											<option value = Key>Key</option>
											<option value = Lot>Lot</option>
											<option value = Lower>Lower</option>
											<option value = Office>Office</option>
											<option value = Penthouse>Penthouse</option>
											<option value = Pier>Pier</option>
											<option value = Rear>Rear</option>
											<option value = Room>Room</option>
											<option value = Side>Side</option>
											<option value = Slip>Slip</option>
											<option value = Space>Space</option>
											<option value = Suite>Suite</option>
											<option value = Trailer>Trailer</option>
											<option value = Unit>Unit</option>
											<option value = Upper>Upper</option>
									</select>
									<span id="userDMVUnitTypeErrorMessage"></span>
									<br>

									<label>Unit Type Number |</label>  								              
									<input id="unitTypeNumber" type="text" name="DMVUnitTypeNumber" maxlength="75">									
									<span id="userDMVUnitTypeNumberErrorMessage"></span>
									<br>

									<select id="countrySelect" name="DMVCountrySelection" size="1">
										<option value="" selected="selected">Select Country</option>
									</select>							
									<span id="userDMVCountrySelectionErrorMessage"></span>
									<br>                                
										
									<select id="stateSelect" name="DMVStateSelection" size="1">
										<option value="" selected="selected">Select State</option>
									</select>							
									<span id="userDMVStateSelectionErrorMessage"></span>
									<br>  
									
									<select id="countySelect" name="DMVCountySelection" size="1">
										<option value="" selected="selected">Select County</option>
									</select>								
									<span id="userDMVCountySelectionErrorMessage"></span>
									<br>                                
																	
									<select id="citySelect" name="DMVCitySelection" size="1">
										<option value="" selected="selected">Select City</option>
									</select>								
									<span id="userDMVCitySelectionErrorMessage"></span>
									<br>                            
	
									<select id="zipSelect" name="DMVZipSelection" size="1">
										<option value="" selected="selected">Select Zip</option>
									</select>								
									<span id="userDMVZipSelectionErrorMessage"></span>                                  
									<br>

									<label for="text">What type of Alabama identification Card do the user have? |</label>                                 
                                    <input id="idType" type="text" multiple name="DMVIdType" list="voterIdList" size="75" />

                                    <datalist id="voterIdList">
                                        <option value="" disable selected hidden></option>
                                            <option value="Alabama Driver License"></option>
                                            <option value="Alabama Real ID Driver License"></option>
                                            <option value="Alabama State ID Card"></option> 
                                            <option value="Military ID"></option> 
                                            <option value="Tribal ID"></option>              
                                    </datalist>
                                    <span id="userDMVIdTypeErrorMessage"></span>
									<br>

									<label>What is the user's Alabama Identification Card Number? |</label>                                    
                                    <input id="idTypeNumber" type="text" name="DMVIdTypeNumber" maxlength="75" />                                 
                                    <span id="userDMVIdTypeNumberErrorMessage"></span>                             
                                    <br>

									<label>What is the user's iVoteBallot Id Identifier Code? | Include dashes with user's IvoteBallot Id Identifier Code.</label>                                    
                                    <input id="iVoteBallotIdIdentifierCode" type="text" name="IvoteBallotIdIdentifierCode" maxlength="75" />                                 
                                    <span id="useriVoteBallotIdIdentifierCodeErrorMessage"></span>                             
                                    <br>

									<label>Confirm user's iVoteballot Id Identifier Code |</label>
									<input id="confirmIvoteBallotIdIdentifierCode" type="text"  name="ConfirmIvoteBallotIdIdentifierCode" maxlength="75" >									
									<span id="userConfirmiVoteBallotIdIdentifierCodeErrorMessage"></span>

									<input id="password" type="hidden" name="Password" value="<%= process.env.PASSWORD %>" maxlength="75" />
									<span id="userPasswordErrorMessage"></span>

									<input id="confirmPassword" type="hidden" name="ConfirmPassword" value="<%= process.env.CONFIRMPASSWORD %>" maxlength="75" />
									<span id="userConfirmPasswordErrorMessage"></span>

									<input id="temporary_Password" type="hidden" name="Temporary_Password" value="<%= process.env.TEMPORARYPASSWORD %>" maxlength="75" />
									<span id="userTemporary_PasswordErrorMessage"></span>
									<br>
                                    <br>
									<input id="dmv_CommissionButton" type="submit" value="ADD VOTER INFORMATION"></button>
									<br> 

								</div>
								
							</form>

						</div>
					
					</div>

				</div>
								
			</div>

		</div>		

		<footer>
			<%- include('../common/footer') %>
		</footer>	

		<script>
			const dateDropdown = document.getElementById('gradeSchoolYearSelect'); 
       
			let currentYear = new Date().getFullYear();    
			let  earliestYear = 1900;     

			while (currentYear >= earliestYear) {      
				let dateOption = document.createElement('option');          
				dateOption.text = currentYear;      
				dateOption.value = currentYear;        
				dateDropdown.add(dateOption);      
				currentYear -= 1;  
			}

			const dateDropdown_02 = document.getElementById('highSchoolYearSelect'); 
       
			let currentYear_02 = new Date().getFullYear();    
			let  earliestYear_02 = 1900;     

			while (currentYear_02 >= earliestYear_02) {      
				let dateOption = document.createElement('option');          
				dateOption.text = currentYear_02;      
				dateOption.value = currentYear_02;        
				dateDropdown_02.add(dateOption);      
				currentYear_02 -= 1;  
			}

			const dateDropdown_03 = document.getElementById('collegeYearSelect'); 
       
			let currentYear_03 = new Date().getFullYear();    
			let  earliestYear_03 = 1900;     

			while (currentYear_03 >= earliestYear_03) {      
				let dateOption = document.createElement('option');          
				dateOption.text = currentYear_03;      
				dateOption.value = currentYear_03;        
				dateDropdown_03.add(dateOption);      
				currentYear_03 -= 1;  
			}


		</script>
			
	</body>
</html>